<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ABS</key>
	<string>ABS</string>
	<key>AND</key>
	<string>AND</string>
	<key>ARC</key>
	<string>ARC</string>
	<key>ARCCOS</key>
	<string>ARCCOS</string>
	<key>ARCCOSINE</key>
	<string>ARCCOS</string>
	<key>ARCOSH</key>
	<string>ARCOSH</string>
	<key>ARCSIN</key>
	<string>ARCSIN</string>
	<key>ARCSINE</key>
	<string>ARCSIN</string>
	<key>ARCTAN</key>
	<string>ARCTAN</string>
	<key>ARCTANGENT</key>
	<string>ARCTAN</string>
	<key>ARSINH</key>
	<string>ARSINH</string>
	<key>ARTANH</key>
	<string>ARTANH</string>
	<key>ASCII</key>
	<string>ASCII</string>
	<key>ATAN2</key>
	<string>ATAN2</string>
	<key>BACK</key>
	<string>BACK</string>
	<key>BACKGROUND</key>
	<string>BACKGROUND</string>
	<key>BF</key>
	<string>BUTFIRST</string>
	<key>BG</key>
	<string>BACKGROUND</string>
	<key>BK</key>
	<string>BACK</string>
	<key>BL</key>
	<string>BUTLAST</string>
	<key>BUTFIRST</key>
	<string>BUTFIRST</string>
	<key>BUTLAST</key>
	<string>BUTLAST</string>
	<key>BUTTON?</key>
	<string>BUTTONP</string>
	<key>BUTTONP</key>
	<string>BUTTONP</string>
	<key>CANVASSIZE</key>
	<string>CANVASSIZE</string>
	<key>CATCH</key>
	<string>CATCH</string>
	<key>CD</key>
	<string>CD</string>
	<key>CHAR</key>
	<string>CHAR</string>
	<key>CLEAN</key>
	<string>CLEAN</string>
	<key>CLEARSCREEN</key>
	<string>CLEARSCREEN</string>
	<key>CLOSEREADFILE</key>
	<string>CLOSEREADFILE</string>
	<key>CLOSEWRITEFILE</key>
	<string>CLOSEWRITEFILE</string>
	<key>COLORATPOINT</key>
	<string>COLOURATPOINT</string>
	<key>COLOURATPOINT</key>
	<string>COLOURATPOINT</string>
	<key>COS</key>
	<string>COSINE</string>
	<key>COSH</key>
	<string>COSH</string>
	<key>COSINE</key>
	<string>COSINE</string>
	<key>COUNT</key>
	<string>COUNT</string>
	<key>CS</key>
	<string>CLEARSCREEN</string>
	<key>CURRENTPATH</key>
	<string>CURRENTPATH</string>
	<key>DATE</key>
	<string>DATE</string>
	<key>DEFINE</key>
	<string>DEFINE</string>
	<key>DEFINE?</key>
	<string>DEFINEP</string>
	<key>DEFINEP</key>
	<string>DEFINEP</string>
	<key>DIFFERENCE</key>
	<string>DIFFERENCE</string>
	<key>DIR</key>
	<string>DIR</string>
	<key>DOT</key>
	<string>DOT</string>
	<key>DRAWIMAGE</key>
	<string>DRAWIMAGE</string>
	<key>ED</key>
	<string>EDIT</string>
	<key>EDIT</key>
	<string>EDIT</string>
	<key>EMPTY?</key>
	<string>EMPTYP</string>
	<key>EMPTYP</key>
	<string>EMPTYP</string>
	<key>END</key>
	<string>END</string>
	<key>EOF?</key>
	<string>EOFP</string>
	<key>EOFP</key>
	<string>EOFP</string>
	<key>EQUAL?</key>
	<string>EQUALP</string>
	<key>EQUALP</key>
	<string>EQUALP</string>
	<key>EXP</key>
	<string>EXP</string>
	<key>EXPORTEPS</key>
	<string>EXPORTEPS</string>
	<key>EXPORTPDF</key>
	<string>EXPORTPDF</string>
	<key>EXPORTTIFF</key>
	<string>EXPORTTIFF</string>
	<key>FD</key>
	<string>FORWARD</string>
	<key>FILL</key>
	<string>FILL</string>
	<key>FILLCURRENTPATH</key>
	<string>FILLCURRENTPATH</string>
	<key>FILLIN</key>
	<string>FILLIN</string>
	<key>FILLPATH</key>
	<string>FILLPATH</string>
	<key>FIRST</key>
	<string>FIRST</string>
	<key>FIRSTPUT</key>
	<string>FIRSTPUT</string>
	<key>FONT</key>
	<string>FONTFACE</string>
	<key>FONTFACE</key>
	<string>FONTFACE</string>
	<key>FONTFACES</key>
	<string>FONTS</string>
	<key>FONTFAMILIES</key>
	<string>FONTFAMILIES</string>
	<key>FONTFAMILY</key>
	<string>FONTFAMILY</string>
	<key>FONTS</key>
	<string>FONTS</string>
	<key>FONTTRAITS</key>
	<string>FONTTRAITS</string>
	<key>FORWARD</key>
	<string>FORWARD</string>
	<key>FPRINT</key>
	<string>FPRINT</string>
	<key>FPUT</key>
	<string>FIRSTPUT</string>
	<key>FREADCHAR</key>
	<string>FREADCHAR</string>
	<key>FREADCHARS</key>
	<string>FREADCHARS</string>
	<key>FREADLIST</key>
	<string>FREADLIST</string>
	<key>FREADWORD</key>
	<string>FREADWORD</string>
	<key>FSHOW</key>
	<string>FSHOW</string>
	<key>FTYPE</key>
	<string>FTYPE</string>
	<key>GETMOUSECHANGE</key>
	<string>GETMOUSECHANGE</string>
	<key>GETMOUSECLICK</key>
	<string>GETMOUSECLICK</string>
	<key>GETMOUSEMOVED</key>
	<string>GETMOUSEMOVED</string>
	<key>GETPROP</key>
	<string>GETPROP</string>
	<key>GO</key>
	<string>GO</string>
	<key>GPROP</key>
	<string>GETPROP</string>
	<key>GRAPHICSTYPE</key>
	<string>GRAPHICSTYPE</string>
	<key>GRTYPE</key>
	<string>GRAPHICSTYPE</string>
	<key>HEADING</key>
	<string>HEADING</string>
	<key>HIDETURTLE</key>
	<string>HIDETURTLE</string>
	<key>HOME</key>
	<string>HOME</string>
	<key>HT</key>
	<string>HIDETURTLE</string>
	<key>IF</key>
	<string>IF</string>
	<key>INSTRUMENTS</key>
	<string>INSTRUMENTS</string>
	<key>INT</key>
	<string>INTEGER</string>
	<key>INTEGER</key>
	<string>INTEGER</string>
	<key>ITEM</key>
	<string>ITEM</string>
	<key>LABEL</key>
	<string>LABEL</string>
	<key>LAST</key>
	<string>LAST</string>
	<key>LASTPUT</key>
	<string>LASTPUT</string>
	<key>LEFT</key>
	<string>LEFT</string>
	<key>LIST</key>
	<string>LIST</string>
	<key>LIST?</key>
	<string>LISTP</string>
	<key>LISTP</key>
	<string>LISTP</string>
	<key>LN</key>
	<string>LOG</string>
	<key>LOCAL</key>
	<string>LOCAL</string>
	<key>LOG</key>
	<string>LOG</string>
	<key>LOG10</key>
	<string>LOG10</string>
	<key>LOWERCASE</key>
	<string>LOWERCASE</string>
	<key>LPUT</key>
	<string>LASTPUT</string>
	<key>LT</key>
	<string>LEFT</string>
	<key>MAKE</key>
	<string>MAKE</string>
	<key>MEMBER?</key>
	<string>MEMBERP</string>
	<key>MEMBERP</key>
	<string>MEMBERP</string>
	<key>MOUSE</key>
	<string>MOUSE</string>
	<key>NAME?</key>
	<string>NAMEP</string>
	<key>NAMEP</key>
	<string>NAMEP</string>
	<key>NOT</key>
	<string>NOT</string>
	<key>NUMBER?</key>
	<string>NUMBERP</string>
	<key>NUMBERP</key>
	<string>NUMBERP</string>
	<key>OP</key>
	<string>OUTPUT</string>
	<key>OPENAPPEND</key>
	<string>OPENAPPEND</string>
	<key>OPENREAD</key>
	<string>OPENREAD</string>
	<key>OPENTEXTAPPEND</key>
	<string>OPENTEXTAPPEND</string>
	<key>OPENTEXTREAD</key>
	<string>OPENTEXTREAD</string>
	<key>OPENTEXTWRITE</key>
	<string>OPENTEXTWRITE</string>
	<key>OPENWRITE</key>
	<string>OPENWRITE</string>
	<key>OR</key>
	<string>OR</string>
	<key>OUTPUT</key>
	<string>OUTPUT</string>
	<key>PATHBOUNDS</key>
	<string>PATHBOUNDS</string>
	<key>PATHLENGTH</key>
	<string>PATHLENGTH</string>
	<key>PC</key>
	<string>PENCOLOUR</string>
	<key>PD</key>
	<string>PENDOWN</string>
	<key>PEN</key>
	<string>PEN</string>
	<key>PENCOLOR</key>
	<string>PENCOLOUR</string>
	<key>PENCOLOUR</key>
	<string>PENCOLOUR</string>
	<key>PENDOWN</key>
	<string>PENDOWN</string>
	<key>PENUP</key>
	<string>PENUP</string>
	<key>PENWIDTH</key>
	<string>PENWIDTH</string>
	<key>PI</key>
	<string>PI</string>
	<key>PLAY</key>
	<string>PLAY</string>
	<key>PLIST</key>
	<string>PROPLIST</string>
	<key>POS</key>
	<string>POSITION</string>
	<key>POSITION</key>
	<string>POSITION</string>
	<key>POWER</key>
	<string>POWER</string>
	<key>PPROP</key>
	<string>PUTPROP</string>
	<key>PR</key>
	<string>PRINT</string>
	<key>PRINT</key>
	<string>PRINT</string>
	<key>PRODUCT</key>
	<string>PRODUCT</string>
	<key>PROPLIST</key>
	<string>PROPLIST</string>
	<key>PU</key>
	<string>PENUP</string>
	<key>PUTPROP</key>
	<string>PUTPROP</string>
	<key>PWD</key>
	<string>PWD</string>
	<key>QUOTIENT</key>
	<string>QUOTIENT</string>
	<key>RANDOM</key>
	<string>RANDOM</string>
	<key>RC</key>
	<string>READCHAR</string>
	<key>RCS</key>
	<string>READCHARS</string>
	<key>READCHAR</key>
	<string>READCHAR</string>
	<key>READCHARS</key>
	<string>READCHARS</string>
	<key>READLIST</key>
	<string>READLIST</string>
	<key>READWORD</key>
	<string>READWORD</string>
	<key>REMAINDER</key>
	<string>REMAINDER</string>
	<key>REMPROP</key>
	<string>REMPROP</string>
	<key>REPEAT</key>
	<string>REPEAT</string>
	<key>REVERSEPATH</key>
	<string>REVERSEPATH</string>
	<key>RGB</key>
	<string>RGB</string>
	<key>RIGHT</key>
	<string>RIGHT</string>
	<key>RL</key>
	<string>READLIST</string>
	<key>ROUND</key>
	<string>ROUND</string>
	<key>RT</key>
	<string>RIGHT</string>
	<key>RUN</key>
	<string>RUN</string>
	<key>RW</key>
	<string>READWORD</string>
	<key>SAY</key>
	<string>SAY</string>
	<key>SE</key>
	<string>SENTENCE</string>
	<key>SENTENCE</key>
	<string>SENTENCE</string>
	<key>SETBACKGROUND</key>
	<string>SETBACKGROUND</string>
	<key>SETBG</key>
	<string>SETBACKGROUND</string>
	<key>SETCANVASSIZE</key>
	<string>SETCANVASSIZE</string>
	<key>SETCLIPPATH</key>
	<string>SETCLIPPATH</string>
	<key>SETFONT</key>
	<string>SETFONTFACE</string>
	<key>SETFONTFACE</key>
	<string>SETFONTFACE</string>
	<key>SETFONTFAMILY</key>
	<string>SETFONTFAMILY</string>
	<key>SETFONTTRAITS</key>
	<string>SETFONTTRAITS</string>
	<key>SETFULLSCREEN</key>
	<string>SETFULLSCREEN</string>
	<key>SETHEADING</key>
	<string>SETHEADING</string>
	<key>SETLINECAP</key>
	<string>SETLINECAP</string>
	<key>SETLINEDASH</key>
	<string>SETLINEDASH</string>
	<key>SETPC</key>
	<string>SETPENCOLOUR</string>
	<key>SETPEN</key>
	<string>SETPEN</string>
	<key>SETPENCOLOR</key>
	<string>SETPENCOLOUR</string>
	<key>SETPENCOLOUR</key>
	<string>SETPENCOLOUR</string>
	<key>SETPENWIDTH</key>
	<string>SETPENWIDTH</string>
	<key>SETPOS</key>
	<string>SETPOSITION</string>
	<key>SETPOSITION</key>
	<string>SETPOSITION</string>
	<key>SETRGB</key>
	<string>SETRGB</string>
	<key>SETSHADOW</key>
	<string>SETSHADOW</string>
	<key>SETTYPESIZE</key>
	<string>SETTYPESIZE</string>
	<key>SETVOICE</key>
	<string>SETVOICE</string>
	<key>SETWRAP</key>
	<string>SETWRAP</string>
	<key>SETX</key>
	<string>SETX</string>
	<key>SETY</key>
	<string>SETY</string>
	<key>SHADOW</key>
	<string>SHADOW</string>
	<key>SHOW</key>
	<string>SHOW</string>
	<key>SHOWN?</key>
	<string>SHOWNP</string>
	<key>SHOWTURTLE</key>
	<string>SHOWTURTLE</string>
	<key>SIN</key>
	<string>SINE</string>
	<key>SINE</key>
	<string>SINE</string>
	<key>SINH</key>
	<string>SINH</string>
	<key>SNAP</key>
	<string>SNAP</string>
	<key>SQRT</key>
	<string>SQRT</string>
	<key>ST</key>
	<string>SHOWTURTLE</string>
	<key>STOP</key>
	<string>STOP</string>
	<key>STROKECURRENTPATH</key>
	<string>STROKECURRENTPATH</string>
	<key>STROKEPATH</key>
	<string>STROKEPATH</string>
	<key>SUM</key>
	<string>SUM</string>
	<key>TAN</key>
	<string>TANGENT</string>
	<key>TANGENT</key>
	<string>TANGENT</string>
	<key>TANH</key>
	<string>TANH</string>
	<key>TEXT</key>
	<string>TEXT</string>
	<key>TEXTBOX</key>
	<string>TEXTBOX</string>
	<key>THING</key>
	<string>THING</string>
	<key>THROW</key>
	<string>THROW</string>
	<key>TIME</key>
	<string>TIME</string>
	<key>TOWARDS</key>
	<string>TOWARDS</string>
	<key>TYPE</key>
	<string>TYPE</string>
	<key>UPPERCASE</key>
	<string>UPPERCASE</string>
	<key>VOICE</key>
	<string>VOICE</string>
	<key>VOICES</key>
	<string>VOICES</string>
	<key>WAIT</key>
	<string>WAIT</string>
	<key>WAITFORSPEECH</key>
	<string>WAITFORSPEECH</string>
	<key>WORD</key>
	<string>WORD</string>
	<key>WORD?</key>
	<string>WORDP</string>
	<key>WORDP</key>
	<string>WORDP</string>
	<key>WRAP</key>
	<string>WRAP</string>
	<key>XPOS</key>
	<string>XPOS</string>
	<key>YPOS</key>
	<string>YPOS</string>
</dict>
</plist>
